.icons-style{
    width: 20px;
    height: 20px;
    margin: 0px 20px;
    display: flex;
}


.style-list-item{
    display: flex;
    flex-direction: row;
    margin: 0px 10px 15px 0px;
    align-items: center;
    height: 30px;

}
.text-log{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.style-nav{
    background-color: #29BB89;
    width: 18%;
    height: 100%;
    border-radius: 0.5rem;
    position: absolute;
    
    
}

.style-list-nav{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 500px;
    padding: 0;
    margin: 0;
 
   
}


.logout{
    position: relative;
    top: 300px;
    right: 60px;
    

}

.text-list-nav{
    font-size: 20px;
}

.style-link-nav{

    text-decoration: none;
    font-family: 'Noto Sans';font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #F6FBF9;
    opacity: 0.7;
    display: flex;
    align-items: center;
    


}
.style-link-nav:hover{
    opacity: 1;
}

.active{
    opacity: 1;
}




.name-email{
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px;
   border-radius: 0.5rem;
   padding: 10px;
   flex-wrap: wrap;
   position: absolute;
   bottom: 1%;
   width: 88%;
   
}


.PhotoProfile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.order-datos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
    flex-wrap: wrap;
}

.name{
    font-family: 'Noto Sans';font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #585858;
}

.emails{
    font-family: 'Noto Sans';font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #585858;
    opacity: 0.65;
    width: 100%;


}

.end-profile{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.select{
    width: 12px;
    height: 39px;
    background: #FFFFFF;
    border-radius: 0px 30px 30px 0px;
    

}
.IconTrans{
    color: green !important;
}

.dateTrans{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 11px;
    color: #585858;

}
.montoTrans{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #585858;
}
.transsaccionID{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 11px;
    color: #585858;

}
.namePago{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 15px;
    color: #3F3F3F;
}
.box-montos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.iconsAndTrans{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.title-trans{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #585858;
}
.viewAll{
    text-decoration: none;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #29BB89;
    margin: 16px 0 16px 0;
}
.viewAll:hover{
    color: #1d4f3e;
    text-decoration: underline;
}


.order-title-trans{
    display: flex;
    justify-content: space-between;
}

.box-transacciones{
    height: 100%;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.464);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 1rem;
}

.positions-valor{
  display: flex;
  justify-content: center;
  align-items: center;
}



.button-verify{
  background-color: white;
  border:none;
  border-radius: 0.8rem;
  width: 150px;
  height: 40px;
  color: #29BB89;
  
}

.button-verify:hover{
  border: 1px solid #59eab7;
  cursor: pointer;
}

.text-sub-mensajes{
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  text-align: center;

}
.text-mensajes{
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
  margin: 0;

}
.boxLeft{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100vh;
  margin: 0px 0px 0px 15px; 
  display: flex;
}

.boxRight{
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.box-mensajes{
  margin: 0;
  border-radius: 0.5rem;
  background: #29BB89;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.464);
  height: 35%;
}

.style-text-moneda{
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
  color: #3F3F3F;

}

.style-banderas{
  border-radius: 100%;
  margin-right: 10px;


  
}
.order-activos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px 0px 50px;
}

.order-icon-pais{
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-green{
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  color: #29BB89;
  padding: 30px 0px 0px 40px;

}

.monto-green{
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  color: #29BB89;
  

}
.add-account{
  margin:34px 0px 0px 40px;
  background-color: #29BB89;
  color: white;
  border: none;
  border-radius: 0.8rem;
  width: 150px;
  height: 40px;
}
.add-account:hover{
 border: 1px solid #1d4f3e;
  cursor: pointer;
}

.cuentas{
  display:none;
}

.box-activos{
  margin:6px 20px 5px 5px;
  height:410px;
}

.box-interal-estadisticas{
  margin:6px 20px 5px 5px;
  height:320px;
  display: flex;
  justify-content: space-between;
  

  
}
.text-estadisticas {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #585858;
  padding: 25px 0px 0px 40px;

}
.box-estadisticas{
  width: 95%;
  margin:0px 5px 0px 10px;
  height: 780px;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.464);


}

.homeProfile{
    display: flex; 
    flex-direction: row;
    border-radius: 0.5rem;
    width: 82%;
    position: relative;
    left: 18%;
    height: 100%;
    
}

.data-balance{
  width: 95%;
  height: 14%;
  border-radius: 0.5rem;
  margin:0px 5px 0px 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.464);
 


}

.box-balance{
  margin-left: 25px;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
}

.text-balance{
 
  font-weight: bold;
  color: #29BB89;
  margin-bottom:0;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
}

.direction-number{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}

.number-balance{
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #585858;
 

}
.dolar-equivalencia{
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  color: #3F3F3F;

}

.IconProcesos{
  width: 50px;
  height: 50px;
  background: #29BB89;
  border-radius: 100%;

}

.style-list-procesos{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.list-item-procesos{
  margin: 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.text-procesos{
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: #3F3F3F;
}


@media only screen and (max-width: 600px) {
    .emails-mobile {
        display: none;
    }
}

.IconTrans .recargar {
    fill:#29BB89;
}

.IconProcesos .recargar {
    fill: white;
}

.IconTrans .retiro {
    fill:#E33F3F;
}

.IconProcesos .retiro {
    fill: white;
}